@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
.back {
  background: linear-gradient(
    123deg,
    rgb(0, 0, 0) 0%,
    rgb(5, 4, 34) 84%,
    rgb(15, 14, 38) 100%
  );
}

.fontstyle {
  font-family: "Merriweather", serif;
}
.btn {
  /* background: transparent; */
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
}
/* .btn:hover,
:focus {
  background: #00eeff;
  border: 1px solid #00e1ff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00e1ff, 0 0 20px #00e1ff, 0 0 50px #00e1ff,
    0 0 100px #00e1ff;
} */
